<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Email Inbox {{title}}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
  {% block meta_data%}{%endblock%}
    

</head>
<body>
  <div class="container">
    <nav class="sidebar">
      {%with user =user_info%}
      <div class="user-info">
        <p> hello {{user[1]}}</p>
      </div>
      {%endwith%}
      <ul class="sidebar-nav" >
          <li><a href="/send"><span>Write Email</span></a></li>
          <li><a href="/inbox" class="active" id="inbox"><span>Inbox</span></a></li>
          <!--<li><a href="/draft" id="draft"><span>Draft</span></a></li>-->
          <li><a href="/sent" id="sent"><span>Sent</span></a></li>
          <li><a href="/trash" id="trash"><span>Trash</span></a></li>
          <li><a href="/spam" id="spam"><span>Spam</span></a></li>
      </ul>

    </nav>
    <div class="main-body">
      {% block main_body%}{%endblock%}

    </div>
    
  </div>
  {%block additional_scripts%}{%endblock%}
  <script src="{{ url_for('static', filename='base.js') }}"></script>
</body>
</html>
