<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Email Inbox {{title}}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='inbox.css') }}">  

</head>
<body>
  <div class="container">
    <nav class="sidebar">
      <ul class="sidebar-nav">
          <li><a href="/inbox" class="active">Inbox</a></li>
          <li><a href="/draft">Drafts</a></li>
          <li><a href="/sent">Sent</a></li>
          <li><a href="/trash">Trash</a></li>
          <li><a href="/spam">Spam</a></li>
      </ul>
  </nav>
    <main>  
      <section class="email-list">
        {% for message in messages%}
          <article class="email-item">  
            <a href="#">  
            <div>
              {{message[2]}}
            </div>
            <div>
              {{message[3]}}
            </div>
            </a>
          </article>
        {% endfor %}
      </section>
    </main>
  </div>
</body>
</html>
