{% extends 'base.html'%}
{%block meta_data%}
<link rel="stylesheet" href="{{ url_for('static', filename='inbox.css') }}">
{%endblock%}
{%block main_body%}
  <main>  
    <section class="email-list">

      {% for message in messages%}
          <article class="email-item">  
            <a href="#">  
            <div>
              {{message[3]}}
            </div>
            <div>
              {{message[4]}}
            </div>
            </a>
          </article>
        {% endfor %}
    </section>
  </main>
        
{% endblock %}
