{% extends 'base.html'%}
{%block meta_data%}
<link rel="stylesheet" href="{{ url_for('static', filename='inbox.css') }}">
{%endblock%}
{%block main_body%}
  <main>  
    <section class="email-list">
      
      {% for email_cover in email_covers%}
          <article class="email-item fadeInAndMove" id="animatedElement">  
            <a href="/inbox/{{email_cover['message_id']}}">  
            <div >
              {{email_cover['sender_name']}}
            </div>
            <div>
              {{email_cover['subject']}}
            </div>
            </a>
          </article>
        {% endfor %} 
    </section>
  </main>
        
{% endblock %}
