{% extends 'base.html'%}
{%block meta_data%}
<link rel="stylesheet" href="{{ url_for('static', filename='send.css') }}">
{%endblock%}
{%block main_body%}
<div class="message-body">
  <form action="/send" id="email-form" method="post">
    <label for="to">To:</label>
    <input type="email" id="to" name="to" required>
    {% with message = get_flashed_messages() %}
        <div class="no-user-msg">
          {{message[0]}}
        </div>
    {%endwith%}    
    <br>
    <label for="subject">Subject:</label>
    <input type="text" id="subject" name="subject" required>
    <br>
    <label for="message">Message:</label>
    <textarea id="message" name="message" rows="10" required></textarea>
    <br>
    <button type="submit">Send</button>
  </form>
</div>
        
{% endblock %}
